/* MovieDetailPage.css */

.movie-detail-page {
    background-color: #fff;
  }
  
  .movie-banner {
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
  }
  
  .movie-poster-card {
    width: 300px;
    margin-right: 20px;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
  }
  
  .movie-info {
    flex-grow: 1;
    color: #fff;
  }
  
  /* .movie-title {
    font-size: 32px;
    margin-bottom: 10px;
  } */
  
  .movie-metadata {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .symbol-box {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .release-date,
  .genres,
  .duration {
    margin-right: 10px;
  }
  
  .user-score {
    margin-bottom: 10px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  .icons span {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tagline {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .overview {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .credits {
    margin-top: 20px;
    display: flex;
  }
  
  .characters,
  .directors,
  .writers {
    flex-grow: 1;
  }
  
  .credits p {
    font-weight: bold;
  }
  
  .credits ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
  }
  
  .cast-photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .cast-card {
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .cast-photo {
    width: 100%;
    height: auto;
  }
  
  .cast-name {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  .additional-section {
    display: flex;
    margin-top: 20px;
  }
  
  .section {
    flex-grow: 1;
  }
  
  .section h3 {
    margin-bottom: 10px;
  }
  
  .page-footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  